.UploadIdeapage{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.UploadIdeapage 
.text{
    text-align: center;
    background-color: #FFDD47;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    font-size: 30px;
    font-weight: 700;
    color: black;   
    padding: 12px 60px; 
}
.InputIdea{
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 5px; 
}
.Ideainput{
    margin-bottom: 10px;
    font-weight: 700;
    color: black;
    
}
.IdeaFrom{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}
.Title{
    background-color: rgb(255, 255, 255);
    margin-left: 15px;
    margin-right: 15px;
    height: 50px;
}
.SubmitIdea1{
    height: 50px;
    width: 100px;
    margin: 12px;
    transition: var(--tran-03);
    border-radius: 23px;
    float: right;
    background-color: #FFDD47;
    
}
.CancelButton{
    height: 50px;
    width: 100px;
    margin: 12px;
    transition: var(--tran-03);
    border-radius: 23px;
    float: right;
    
}

/* .SubmitIdea:hover{
    background-color: var(--primary-color);
}

.SubmitIdea:hover{
    color: var(--sidebar-color);
}
.CancelButton:hover{
    background-color: var(--primary-color);
}
.CancelButton:hover{
    color: var(--sidebar-color);
} */

/* .IdeaTile1, .IdeaTile2
{
    position: relative;
  } */
.IdeaTile1{
    margin-left: 10px;
    width: 98%;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 15px;
    border: 2px solid #ccc;
    background-color: #ffffff;
    resize: none;
}
.IdeaTile2{
    margin-left: 10px;
    width: 98%;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 15px;
    border: 2px solid #ccc;
    background-color: #ffffff;
    resize: none;
}
.IdeaDct{
    margin-left: 10px;
    width: 98%;
    height: 250px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 15px;
    background-color: #ffffff;
    resize: none;
}
.styleofpost{
    margin: 5px;
    /* display: inline; */
}
.styleofcategory{
    margin: 5px;
    margin-left: 20px;
    /* display: inline; */
}
.InputTitle{
    margin-top: 20px;
    margin-left: 5px;
}
